

header {
margin: 30px auto;
width: 80%;
display: flex;
justify-content: space-between;
}

header > div {

}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  width: 800px;
  height: 800px;
  background-color: pink;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: green;
  width: 100%;
  height: 33%;
}
.column {
  background-color: lightblue;
  width: 33%;
  height: 100%;
  text-align: center;
  font-size: 80px;
}
.fa-cat, .fa-dog {
    display:inline-block;
    line-height: 264px;
}

.fa-cat {
  color: yellow;
}

.fa-dog {
  color: green;
}

#reset {
  width: 200px;
  height: 50px;
  border-radius: 0.5em;
  font-size: 25px;
  background-color: pink;
}

#message {
  margin: 20px auto;
  width: 800px;
  height: 800px;
  background-color: pink;
  display: none;
}
