body {
  background-color: #ffe6c9;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 9%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* When you mouse over the navigation links, change their color */
#closebtn:hover, #closebtn:focus, #open:hover, #open:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
#closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #bbb;
}

#icons p {
  color: #ddd;
  font-size: 20px;
}

#icons img {
  width: 180px;
}

#icons div {
  width: 365px;
  margin: 0 auto;
}

#icons div:hover {
  border: 1px solid #666;
  border-radius: 0.5em;
  background-color: #333;
}

header {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #666;
  text-align: left;
  font-size: 60px;
  margin: 10px 0 0 0;
}

#open {
  align-self: center;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

#game-info {
  margin: 10px auto 0 auto;
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 20px;
}

#game-info p {
  font-size: 1em;
}

#player1-score, #draw-score, #player2-score {
  display: inline-block;
  width: 30px;
  text-align: center;
  background-color: lightblue;
  color: black;
  border-radius: 0.125em;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 33%;
}
.column {
  background-color: #609bb2;
  width: 33%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  border-radius: 0.25em;
  cursor: pointer;
}

.aiPlayBoxShadow {
  box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.75);
}

.column:hover {
  box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.75);
}

.fa-cat, .fa-dog {
    display:inline-block;
    line-height: 200px;
}

.column img {
  width: 180px;
}

.fa-cat {
  color: #fc88aa;
}

.fa-dog {
  color: #aefc88;
}

#buttons {
  text-align: center;
}

.changeOpponet {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #ccc;
  border-radius: 0.5em;
  font-size: 20px;
}

.reset {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 0.5em;
  font-size: 25px;
  background-color: #fcc888;
  margin: 20px auto;
}

#message {
  /* background-color: rgba(244, 161, 66, 0.8); */
  background-color: rgba(0,0,0, 0.9);
  /* width: 100%; */
}

#message > p {
  text-align: center;
  font-size: 45px;
  line-height: 150px;
  margin: 0;
  color: #fcc888;
}

#overlayReset {
  position: absolute;
  bottom: 100px;
  left: calc(50% - 100px);
}

@media screen and (max-width: 750px) {
  header {
    width: 500px;
  }

  h1 {
    font-size: 50px;
  }

  #game-info {
    max-width: 500px;
  }

  #game-board {
    width: 500px;
    height: 500px;
  }

  #message > p {
    font-size: 40px;
    line-height: 125px;
  }

  #overlayReset {
    left: 5%;
  }

  #icons img {
    width: 167px;
  }

  #icons div {
    width: 340px;
    margin: 0 auto;
  }

  .fa-cat, .fa-dog {
      display:inline-block;
      line-height: 175px;
  }

  .column img {
    width: 167px;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #buttons button, .reset {
    width: 90%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  header {
    width: 350px;
  }

  h1 {
    font-size: 40px;
  }

  #game-info {
    max-width: 350px;
  }

  #game-board {
    width: 350px;
    height: 350px;
  }

  #message > p {
    font-size: 30px;
    line-height: 88px;
  }

  #overlayReset {
    left: 17.5%;
  }

  #icons img {
    width: 105px;
  }

  #icons div {
    width: 215px;
    margin: 0 auto;
  }

  .fa-cat, .fa-dog {
      display:inline-block;
      line-height: 117px;
      font-size: 50px;
  }

  .column img {
    width: 105px;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #buttons button, .reset {
    width: 65%;
    margin-bottom: 10px;
  }
}
